.pagesingle-wrap {
    .ps {
        line-height: 65px;
        font-size: 16px;
        padding: 0 30px;
        border-bottom: 1px solid #ddd;

    }
    .pagesingle-content{
        padding: 30px;
        .yst-zb-body .flex1{
          padding: 0 25px;
        }
        .tab-body{
            width: auto;
            line-height: 20px;
            border-radius: 3px;
            height: 64px;
            cursor: pointer;
            border-right: none;
        }
        .tab-t{
            padding: 12px 25px;
            height: 63px;
            line-height: 20px;
            border-right: 1px solid #ccc;
            text-align: center;
        }

        .ant-select-selection{
            background: #f4f5f9;
        }
        .ant-calendar-picker-input, .ant-select-selection{
            margin-top: 0px;
        }
        .bd_ccc{
            border: 1px solid #ccc;
        }
        .ztfx-t{
            width: 100%;
            height: 40px;
            background-color: #f4f5f9;
            overflow: hidden;
            border-bottom: 1px solid #ccc;
        }
        .dateselector-p{
            width: 140px;
            display: inline-block;
            border-right: 1px solid #ccc;
        }
        .dateselector-p .ant-select-selection {
            border-radius: 0;
            border: 0;
            background:#F4F5F9;
            font-size: 14px;
            width: 100px;
            margin-top: 5px;
            box-shadow: none !important;
        }
        .datepicker-p .ant-calendar-picker-input {
            margin-top: 5px;
            border-radius: 0;
            border: 0;
            background:#F4F5F9;
            font-size: 14px;
            width: 230px;
            cursor: pointer;
            box-shadow: none;
        }
        .dateselector-p .ant-select-lg .ant-select-selection--single{
            width: 120px;
            height: 32px;
        }
        .datepicker-p{
            width: 250px;
            display: inline-block;
            border-right: 1px solid #ccc;
            height:100%;
        }
        .datepicker-p .ant-calendar-picker-clear {
            display: none;
            opacity: 0;
            z-index: 1;
            color: rgba(0,0,0,.25);
            background: #fff;
            pointer-events: none;
            cursor: pointer;
        }
        .yhfx{
          margin-top: 40px;
        }
        .yhfx-t{
            position: relative;
            width: 100%;
            height: 40px;
            background-color: #f4f5f9;
            overflow: hidden;
            border-bottom: 1px solid #ccc;
        }
        .yhfx-download{
            height: 38px;
            line-height: 38px;
            float: right;
            color:#108ee9;
            padding:0 20px;
            cursor: pointer;
        }
        .datepicker-u{
            width: 250px;
            position: absolute;
            left: 0;
            border-right: 1px solid #ccc;
        }
        .datepicker-u .ant-calendar-picker-input {
            border-radius: 0;
            border: 0;
            background: #F4F5F9;
            font-size: 14px;
            color: #676767;
            letter-spacing: 0;
            width: 230px;
            height: 40px;
            cursor: pointer;
        }
        .datepicker-u .ant-calendar-picker-clear {
            display: none;
            opacity: 0;
            z-index: 1;
            color: rgba(0,0,0,.25);
            background: #fff;
            pointer-events: none;
            cursor: pointer;
        }
        .ant-table-pagination {
            margin: 16px;
            float: right;
        }

    }
}
