.quo{
    height: 150px;
    width: 100%;
    color: #222;
}
.bd_ccc{
    border: 1px solid #ccc;
}

.yst-zb-cap{
    padding-left: 20px;
    height: 38px;
    line-height: 38px;
    background-color: #f4f5f9;
    border-bottom: 1px solid #ccc;
}

.yst-zb-body{
    height: 112px;
}

.yst-zb-body > .flex-h{
    width: 100%;
    text-align: center;
}

.quo-t{
    padding: 3px 0;
}

.quo-v{
    font-size: 30px;
    color: #676767;
    padding: 6px 0;
}
