@import '~antd/dist/antd.css';
.course-time-main {
  display: flex;
  width: 1000px;
  flex-direction: column;
}

.title {
  width: inherit;
  line-height: 65px;
  font-size: 16px;
  padding: 0 30px;
  border-bottom: 1px solid #E7E7EB;
}

.table-top {
  margin-top: 35px;
  margin-left: 2.7%;
  width: 933px;
}
/*vertical-align: middle !important;*/
.datetable .ant-table-thead > tr > th {
  vertical-align: middle !important;
}
.datetable .ant-table-tbody > tr > td {
  vertical-align: middle !important;
}

.dates-download {
  height: 41px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: inherit;
  background-color: #F4F5F9;
  border-right: 1px #E7E7E7 solid;
  border-left: 1px #E7E7E7 solid;
  border-top: 1px #E7E7E7 solid;
}

.download-question {
  width: 200px;
  display: flex;
  flex-direction: row-reverse;
  font-size: 14px;
  letter-spacing: 0;
}

.table-question {
  width: 60px;
}

.download {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6AB2EC;
  border-left: 1px #E7E7E7 solid;
  border-right: 1px #E7E7E7 solid;
  top:0;
}

.download:hover {
  cursor: pointer;
}

.datetable .ant-table-pagination {
    margin: 16px 0;
    float: right;
    margin-right: 15px;
}


.mydatepicker .ant-calendar-picker-input {
  border-radius: 0;
  border: 0;
  background: #F4F5F9;
  font-size: 14px;
  color: #676767;
  letter-spacing: 0;
  width: 230px;
  height: 40px;
  cursor: pointer;
}

.course-time-main .ant-table-thead>tr>th {
  background: #ffffff !important;
  border-bottom: 1px #E7E7E7 solid;
}

.datetable {
  border: 1px #E7E7E7 solid;
}
