
.create-modal-item{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    .create-modal-left{
        flex:0 0 70px;
    }
    .create-modal-right{
        overflow: hidden;
        .ant-select-selection--single{
            width:120px;
        }
    }
    .create-modal-upload{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        color:#bbb;
    }
}
