.ztfx .ant-select-selection{
    background: #f4f5f9;
}
.ztfx .ant-calendar-picker-input, .ant-select-selection{
    margin-top: 0px;
}
.bd_ccc{
    border: 1px solid #ccc;
}
.ztfx-t{
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #f4f5f9;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}
.dateselector{
    height: 40px;
    width: 140px;
    position: absolute;
    left: 0;
    border-right: 1px solid #ccc;
}
.ztfx .ant-select-selection {
    border-radius: 0;
    border: 0;
    background:#F4F5F9;
    font-size: 14px;
    width: 100px;
    margin-top: 5px;
    box-shadow: none !important;
}
.ztfx .ant-calendar-picker-input {
    margin-top: 5px;
    border-radius: 0;
    border: 0;
    background:#F4F5F9;
    font-size: 14px;
    width: 230px;
    cursor: pointer;
    box-shadow: none;
}
.ztfx .ant-select-lg .ant-select-selection--single{
    width: 120px;
}
.datepicker{
    width: 250px;
    height: 40px;
    position: absolute;
    left: 140px;
    border-right: 1px solid #ccc;
}
.ztfx .ant-calendar-picker-clear {
    display: none;
    opacity: 0;
    z-index: 1;
    color: rgba(0,0,0,.25);
    background: #fff;
    pointer-events: none;
    cursor: pointer;
}
