.tab{
    margin:40px 0 10px 0;
    width: 100%;
    color: #222;
}
.bd-ccc{
    border: 1px solid #ccc;
}
.tab-body{
    width: 662px;
    line-height: 20px;
    border-radius: 3px;
    height: 34px;
    cursor: pointer;
}
.tab-t{
    height: 32px;
    line-height: 32px;
    border-right: 1px solid #ccc;
    text-align: center;
}

.tab .flex1:last-child{
    border-right: none;
}
.tab-t.active{
    background: #576477;
}
