.coursetotal-wrap {
    .coursetotalfx {
        line-height: 65px;
        font-size: 16px;
        padding: 0 30px;
        border-bottom: 1px solid #ddd;
    }
    .coursetotal-content{
        padding: 30px;
    }
}
